@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
    font-family: 'Open Sans', sans-serif;
}
h2{
    color:white;
}
table {
    border: 1px solid rgba(10, 180, 180, 1);
}
td, th{
    font-size: 16px;
    color:white;
    text-align: center;
}


body {
    background-image: url(https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80);
    background-repeat: repeat;
    overflow: hidden;
    background-color: #111;
}

.main-component {
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
    text-align: center;
    display: grid;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}


.form-component {
    width: 100%;
    padding: 30px 0;
    /*background: rgba(20, 40, 40, .8);*/
    transition: .2s;
    color:white;
}

.input-component {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
}


.list-without-bullet {
    list-style-type: none;
    padding: 0;
}

.join-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 16px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
}

.join-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}

.reset-bnt {
    border: 1px solid rgba(251, 0, 0, 0.8);
    background: rgba(20, 20, 20, .6);
    font-size: 16px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
}

.reset-bnt:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}

.down-btn {
    width: 300px;
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 16px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
}
.down-btn:hover {
    background: rgba(0, 0, 0, .8);
    padding: 20px 20px 20px 20px;
    font-size: 20px;

}